<?xml version='1.0' encoding="utf-8"?>
<installer-gui-script minSpecVersion="2">
  <title>${PRODUCT_NAME}</title>
  <allowed-os-versions>
    <os-version min="10.13" />
  </allowed-os-versions>
  <license file="EULA" />
  <readme file="README" />
  <background file="background.png" mime-type="image/png" scaling="tofit" alignment="bottomleft"/>
  <background-darkAqua file="background.png" mime-type="image/png" scaling="tofit" alignment="bottomleft"/>
  <options customize="always" rootVolumeOnly="true" hostArchitectures="x86_64,arm64" />
  <domain enable_anywhere="false" enable_currentUserHome="false" enable_localSystem="true" />

  <choices-outline>
    <line choice="app" />
    <line choice="vst3" />
    <line choice="au" />
    <line choice="clap" />
  </choices-outline>

  <choice id="app" visible="true" selected="true" title="${PRODUCT_NAME} Standalone App">
    <pkg-ref id="${BUNDLE_ID}.app.pkg"/>
  </choice>

  <choice id="vst3" visible="true" selected="true" title="${PRODUCT_NAME} VST3">
    <pkg-ref id="${BUNDLE_ID}.vst3.pkg"/>
  </choice>

  <choice id="au" visible="true" selected="true" title="${PRODUCT_NAME} Audio Unit">
    <pkg-ref id="${BUNDLE_ID}.au.pkg"/>
  </choice>

  <choice id="clap" visible="true" selected="true" title="${PRODUCT_NAME} CLAP">
    <pkg-ref id="${BUNDLE_ID}.clap.pkg"/>
  </choice>
  <!-- 
        Important: These pkg-ref elements define the actual packages to include.
        The body (filename) must EXACTLY match what pkgbuild created.
        Do NOT repeat version= or onConclusion= here if already in choice.
        -->
  <pkg-ref id="${BUNDLE_ID}.app.pkg" version="${VERSION}">${PRODUCT_NAME}.app.pkg</pkg-ref>
  <pkg-ref id="${BUNDLE_ID}.vst3.pkg" version="${VERSION}">${PRODUCT_NAME}.vst3.pkg</pkg-ref>
  <pkg-ref id="${BUNDLE_ID}.au.pkg" version="${VERSION}">${PRODUCT_NAME}.au.pkg</pkg-ref>
  <pkg-ref id="${BUNDLE_ID}.clap.pkg" version="${VERSION}">${PRODUCT_NAME}.clap.pkg</pkg-ref>

</installer-gui-script>